.link-card {
    padding: 16px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex: 1 1 auto;
    align-items: center;
    border: 2px solid;
}

.link-card:hover {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.12);
}

.link-card__icon {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.link-card__icon[src$="#only-dark"] {
    display: none;
}

.link-card__wrapper {
    margin-left: 24px;
}

.link-card__header {
    display: flex;
    flex-direction: row;
}

.link-card__title {
    font-family: 'Circular Std', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 110%;
    color: var(--card-text-color);
    margin: 0;
}

@media  screen and (max-width: 960px) {
    .link-card {
        padding: 16px;
    }

    .link-card__wrapper {
        margin-left: 16px;
    }
}
@media  screen and (max-width: 1024px) {
    .link-card__title {
        font-size: 18px;
        line-height: 150%;
    }
}

@media  screen and (max-width: 960px) {
    .link-card {
        padding: 16px;
    }

    .link-card__wrapper {
        margin-left: 16px;
    }

    .link-card__title {
        font-size: 17px;
    }
}

@media  screen and (max-width: 428px) {
    .link-card__title {
        font-size: 15px;
    }

    .link-card__icon {
        width: 63px;
        height: 63px;
    }
}

@media  screen and (max-width: 320px) {
    .link-card__title {
        font-size: 14px;
    }

    .link-card__icon {
        width: 57px;
        height: 57px;
    }
}
