theme:
    name: material
    custom_dir: overrides
    language: en
#    features:
#        - instant # (still experimental) feature fails to load images when folder changes
    favicon: assets/icons/favicon.ico
    logo: assets/icons/logo.svg
    logobw: assets/icons/logo-bw.svg
    palette:
        -   scheme: default

    font:
        text: Circular Std
        code: Ubuntu Mono
    icon:
        repo: fontawesome/brands/github
    features:
        - navigation.tabs
        - --md-code-bg-color
        - search.share
        - search.suggest
        - navigation.tracking
        - navigation.instant
        - navigation.tabs
        - navigation.tabs.sticky
        - toc.follow
        - search.highlight

    hide:
        - navigation

markdown_extensions:
    - admonition # https://squidfunk.github.io/mkdocs-material/extensions/admonition/ (in material theme)
    - codehilite
    - meta
    # https://squidfunk.github.io/mkdocs-material/extensions/pymdown/
    - pymdownx.superfences
    - pymdownx.magiclink
    - attr_list
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
    - abbr
    - def_list
    - footnotes
    - md_in_html
    - toc:
          permalink: true
    - pymdownx.arithmatex:
          generic: true
    - pymdownx.betterem:
          smart_enable: all
    - pymdownx.caret
    - pymdownx.details
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.keys
    - pymdownx.magiclink:
          repo_url_shorthand: true
          user: squidfunk
          repo: mkdocs-material
    - pymdownx.mark
    - pymdownx.smartsymbols
    - pymdownx.superfences:
          custom_fences:
              - name: mermaid
                class: mermaid
                format: !!python/name:pymdownx.superfences.fence_code_format
    - pymdownx.tabbed:
          alternate_style: true
    - pymdownx.tasklist:
          custom_checkbox: true
    - pymdownx.tilde
    - pymdownx.snippets

plugins:
    - monorepo
    - search: # necessary for search to work
 #   - autolinks
    - awesome-pages:
 #       strict: false
    - git-revision-date-localized
    - minify
 #       minify_html: true
    - redirects:
        redirect_maps:
            'redir.md': 'index.md'
            'CLI-tools/cold-start-data-migration.md': 'CLI-tools/cold-start-and-data-migration.md'
    - include-markdown

# Project information
extra_site_name: Documentation
site_name: docs
site_description: Documentation portal for enterprise-level Microsoft .NET ecommerce platform Virto Commerce.
site_author: Virto Commerce
site_url: https://docs.virtocommerce.org


# Repository
repo_name: VirtoCommerce/vc-platform
repo_url: https://github.com/VirtoCommerce/vc-platform
edit_uri: edit/dev/docs/

# Copyright
copyright: Copyright &copy; 2024. All rights reserved.

nav:
    - Home: index.md
    - Marketplace:
        - Developer Guide: '!include ./marketplace/developer-guide/mkdocs.yml'
        - User Guide: '!include ./marketplace/user-guide/mkdocs.yml'
    - Storefront:
        - Developer Guide: '!include ./storefront/developer-guide/mkdocs.yml'
        - User Guide: '!include ./storefront/user-guide/mkdocs.yml'
    - Platform:
        - Developer Guide: '!include ./platform/developer-guide/mkdocs.yml'
        - User Guide: '!include ./platform/user-guide/mkdocs.yml'


extra:
    homepage: /
    social:
      - icon: fontawesome/brands/github
        link: https://github.com/VirtoCommerce
      - icon: fontawesome/brands/facebook
        link: https://facebook.com/VirtoCommerce
      - icon: fontawesome/brands/twitter
        link: https://twitter.com/virtocommerce?lang=en
      - icon: fontawesome/brands/instagram
        link: google.com
      - icon: fontawesome/brands/linkedin
        link: https://www.linkedin.com/company/virto-commerce/
      - icon: fontawesome/brands/youtube
        link: https://www.youtube.com/c/Virtocommerce/videos
    search:
        icon: assets/icons/search.svg
    rss:
        icon: assets/icons/rss.svg
    footer_links:
        - title: Support
          url: https://help.virtocommerce.com/support/home
        - title: Community
          url: https://www.virtocommerce.org/
        - title: FAQ
          url: https://www.virtocommerce.org/faq
        - title: Release Notes
          url: https://www.virtocommerce.org/c/news-digest/
    main_page:
        release_notes:
            - title: News Digest November 2024
              link: https://www.virtocommerce.org/t/november-2024-news-digest/743
              type: Digest
              date: 1 November 2024
            - title: News Digest October 2024
              link: https://www.virtocommerce.org/t/october-2024-news-digest/734
              type: Digest
              date: 1 October 2024
            - title: News Digest September 2024
              link: https://www.virtocommerce.org/t/september-2024-news-digest/730
              type: Digest
              date: 9 September 2024
            - title: News Digest August 2024
              link: https://www.virtocommerce.org/t/august-2024-new-digest/719
              type: Digest
              date: 1 August 2024
            - title: News Digest July 2024
              link: https://www.virtocommerce.org/t/july-2024-news-digest/713
              type: Digest
              date: 1 July 2024
            - title: News Digest June 2024
              link: https://www.virtocommerce.org/t/june-2024-news-digest/702
              type: Digest
              date: 1 June 2024
            - title: News Digest May 2024
              link: https://www.virtocommerce.org/t/may-2024-news-digest/699
              type: Digest
              date: 2 May 2024
            - title: News Digest April 2024
              link: https://www.virtocommerce.org/t/april-2024-news-digest/689
              type: Digest
              date: 3 April 2024
            - title: News Digest March 2024
              link: https://www.virtocommerce.org/t/march-2024-news-digest/681
              type: Digest
              date: 5 March 2024
            - title: News Digest February 2024
              link: https://www.virtocommerce.org/t/february-2024-news-digest/673
              type: Digest
              date: 7 February 2024
            - title: News Digest January 2024
              link: https://www.virtocommerce.org/t/news-digest-january-2024/663
              type: Digest
              date: 8 January 2024
            - title: News Digest December 2023
              link: https://www.virtocommerce.org/t/news-digest-december-2023/651
              type: Digest
              date: 5 December 2023
            - title: News Digest November 2023
              link: https://www.virtocommerce.org/t/news-digest-november-2023/644
              type: Digest
              date: 1 November 2023
            - title: News Digest October 2023
              link: https://www.virtocommerce.org/t/news-digest-october-2023/631
              type: Digest
              date: 3 October 2023
        top_cards:
            # -   title: Architect
            #     icon: assets/icons/package.svg
            #     description: I need to build the platform's architecture or learn how I can do that.
            #     link: https://docs.virtocommerce.org/architecture-center/B2B-multiregional/
            -   title: Storefront
                icon: assets/icons/person.svg
                description: Build and personalize your online store for engaging shopping experiences
                link: storefront
            -   title: Platform
                icon: assets/icons/code-square.svg
                description: Explore the Virto Commerce Platform, a solution designed to efficiently manage and scale your entire e-commerce ecosystem
                link: platform
            -   title: Marketplace
                icon: assets/icons/code-square.svg
                description: Create and manage online marketplaces, fostering increased revenue and a broader customer base
                link: marketplace

        documentation:
            - title: Composable Commerce
              image: assets/images/platform.png
              link: platform
              topdescription: Guides and tools for building, customizing, and deploying a flexible commerce solution 
              description: 
                - title: Platform
                  link: platform
                - title: Marketplace
                  link: marketplace
                - title: CLI tools
                  link: platform/developer-guide/CLI-tools/overview
            - title: Frontend
              image: assets/images/storefront.png
              link: storefront
              topdescription: Tools and workflows designed to enhance customer-facing experiences
              description: 
                - title: Frontend Application
                  link: storefront
                - title: VC Shell
                  link: platform/developer-guide/custom-apps-development/overview

            # - title: Marketplace
            #   description: Create and manage online marketplaces, fostering increased revenue and a broader customer base
            #   image: assets/images/marketplace.png
            #   link: marketplace
            # - title: Custom Apps
            #   description: Create tailored solutions within the VC-Shell
            #   image: assets/images/custom-apps.png
            #   link: platform/developer-guide/custom-apps-development/overview
            # - title: CLI Tools
            #   description: Streamline development with command-line interface tools tailored for efficient development workflows
            #   image: assets/images/cli-tools.png
            #   link: platform/developer-guide/CLI-tools/overview/

        link_cards:
            - title: Contact support
              icon: assets/icons/contact-support.svg
              link: https://help.virtocommerce.com/support/home
              outlineColor: '#EA534A'
            - title: Community
              icon: assets/icons/community.svg
              link: https://www.virtocommerce.org/
              outlineColor: '#EA534A'
            - title: GitHub
              icon: assets/icons/github-outline.svg
              link: https://github.com/VirtoCommerce
              outlineColor: '#FF9162'
            - title: Blog
              icon: assets/icons/blog.svg
              link: https://virtocommerce.com/blog
              outlineColor: '#FF9162'
            - title: Versions
              icon: assets/icons/version-icon.svg
              link: https://github.com/VirtoCommerce/vc-platform/tree/dev/docs/products
              outlineColor: '#FF9162'
    all_topics:
        megamenu:
            - iconSrc: assets/icons/all-products.svg
              title: All Products
              opened: true
              subMenu:
                - title: Platform
                  content:
                    - title: User Guide
                      links:
                        - title: Getting Started
                          url: /platform/user-guide/getting-started
                        - title: User Documentation
                          url: /platform/user-guide
                    - title: Developer Guide
                      links:
                        - title: Installation Guide
                          url: /platform/developer-guide/Getting-Started/Installation-Guide/windows
                        - title: Architecture Overview
                          url: /platform/developer-guide/Back-End-Architecture/02-conceptual-overview
                        - title: Extensibility
                          url: /platform/developer-guide/Extensibility/overview
                        - title: Configuration Reference
                          url: /platform/developer-guide/Configuration-Reference/appsettingsjson
                        - title: Tutorials and How-tos
                          url: /platform/developer-guide/Tutorials-and-How-tos/overview
                    - title: API Reference
                      links:
                        - title: REST API Reference
                          url: https://virtostart-demo-admin.govirto.com/docs/index.html
                        - title: GraphQL API Reference
                          url: /platform/developer-guide/GraphQL-Storefront-API-Reference-xAPI/getting-started
                - title: Frontend Application
                  content:
                    - title: User Guide
                      links:
                        - title: Getting Started
                          url: https://youtu.be/xsnds1QYuC0
                        - title: User Documentation
                          url: /storefront/user-guide
                        - title: Public Demo
                          url: https://virtostart-demo-store.govirto.com/
                    - title: Developer Guide
                      links:
                        - title: Getting Started
                          url: /storefront/developer-guide
                        - title: Architecture
                          url: /storefront/developer-guide/architecture
                        - title: Deployment
                          url: /storefront/developer-guide/deployment
                        - title: Integrations
                          url: /storefront/developer-guide/integrations/prerender_io
                - title: Marketplace
                  content:
                    - title: User Guide
                      links:
                        - title: Operator Portal
                          url: /marketplace/user-guide/Operator-portal/overview
                        - title: Vendor Portal
                          url: /marketplace/user-guide/Vendor-portal/overview
                    - title: Developer Guide
                      links:
                        - title: In Progress
                          url: /marketplace/under-construction
                - title: VC Shell
                  content:
                    - title: Developer Guide
                      links:
                        - title: Overview
                          url: /platform/developer-guide/custom-apps-development/vc-shell/vc-shell-overview
                        - title: Getting Started
                          url: /platform/developer-guide/custom-apps-development/vc-shell/Essentials/dynamic-views/overview
                        - title: Extending VC Apps Functionality
                          url: /platform/developer-guide/custom-apps-development/vc-shell/Getting-started/creating-first-custom-app
            - iconSrc: assets/icons/getting-started.svg
              title: Getting Started
              content:
                - title: Platform
                  links:
                    - title: Developer Getting Started
                      url: /platform/developer-guide/Getting-Started/Installation-Guide/windows
                    - title: Manager Getting Started
                      url: /platform/user-guide/getting-started
                - title: Frontend Application
                  links:
                    - title: Developer Getting Started
                      url: /storefront/developer-guide/
                    - title: User Getting Started
                      url: /storefront/user-guide/
                - title: VC Shell
                  links:
                    - title: Developer Getting Started
                      url: /platform/developer-guide/custom-apps-development/vc-shell/Getting-started/creating-first-custom-app
            - iconSrc: assets/icons/graphql.svg
              title: APIs
              content:
                - title: REST API
                  url: https://virtostart-demo-admin.govirto.com/docs/index.html
                - title: GraphQL API
                  url: /platform/developer-guide/GraphQL-Storefront-API-Reference-xAPI/getting-started
            - iconSrc: assets/icons/video-tutorials.svg
              title: Video Tutorials
              url: https://www.youtube.com/c/VirtoCommerce
              external: true
            - iconSrc: assets/icons/fire.svg
              title: Migration to New xAPI Modules
              url: /platform/developer-guide/Tutorials-and-How-tos/How-tos/migration-to-new-xapi-modules
        footer:
            - iconSrc: "assets/icons/release-notes.svg"
              title: "Release Notes"
              url: "https://www.virtocommerce.org/c/news-digest/"
            - iconSrc: "assets/icons/support.svg"
              title: "Support"
              url: "https://help.virtocommerce.com/support/home"
            - iconSrc: "assets/icons/github.svg"
              title: "GitHub"
              url: "https://github.com/VirtoCommerce"
extra_javascript:
    - assets/scripts/scripts-loader.js
    - assets/scripts/scroll-menu.js


extra_css:
    - assets/stylesheets/main.css
    - assets/stylesheets/fonts.css
