<!-- Doc Card -->
{% if card %}
<div class="doc-card">
    {% if "image" in card %}
    <div class="doc-card__icon-wrap">
        <a href="{{card.link}}">
            <div
            class="doc-card__icon"
            style="background-image: url('{{card.image}}')"
        ></div>
        </a>
    </div>
    {% endif %}
    <div class="doc-card__wrapper">
        <div class="doc-card__header">
            <h2 class="doc-card__title">{{ card.title }}</h2>
        </div>
        <div class="card__content">
            <p>{{ card.topdescription }}</p>
        </div>
	<div class="doc-card__content">
            <div class="doc-card__nav">
                {% for option in card.description %}
                <div class="doc-card__content-item truncate">
                    <a href="{{option.link}}">{{ option.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
