<!-- Card -->
{% if card %}
<a class="wide-card" href="{{card.link}}">
    {% if "icon" in card %}
    <div class="wide-card__img-wrap">
        <img alt="{{card.title}}" class="wide-card__icon" src="./assets/icons/{{card.icon}}" />
    </div>
    {% endif %}

    <div class="wide-card__wrapper">
        <div class="wide-card__header">
            <h2 class="wide-card__title">
                {{ card.title }}</h2>
        </div>
        <div class="wide-card__content">
            <p>{{ card.description }}</p>
        </div>
    </div>
</a>
{% endif %}
