INHERIT: ../../mkdocs.yml
theme:
    custom_dir: ../../overrides
    hide: false

# Project information
extra_site_name: Frontend User Docs
site_name: storefront/user-guide
site_description: Build and personalize your online store for engaging shopping experiences
site_url: https://docs.virtocommerce.org/storefront/user-guide

# Repository
repo_name: VirtoCommerce/vc-platform
repo_url: https://github.com/VirtoCommerce/vc-platform
edit_uri: edit/dev/docs/

# Page tree
nav:
    - Overview: index.md
    - Register and Sign In:
          - Create Account: registration_and_signing_in/create-account.md
          - Sign In: registration_and_signing_in/sign-in.md
          - Password Management: registration_and_signing_in/password-management.md
    - Navigation:
          - Homepage Layout: navigation/homepage-layout.md
          - Product Page Layout: navigation/product-page-layout.md
          - Brands Page: navigation/brands-page.md
    - Account:
          - Personal and Corporate Accounts: account/overview.md
          - Dashboard: account/dashboard.md
          - Profile: account/profile.md
          - Change Password: account/change-password.md 
          - Addresses: account/addresses.md
          - Orders: account/orders.md
          - Product Reviews: account/review-products.md 
          - Lists: account/lists.md
          - Checkout Defaults: account/checkout-defaults.md
          - Quote Requests: account/quote-requests.md
          - Saved Credit Cards: account/saved-credit-cards.md
          - Notifications: account/notifications.md
          - Back-in-Stock List: account/back-in-stock-list.md
          - Purchase Requests: account/purchase-requests.md
          - Company Info: account/company-info.md
          - Company Members: account/company-members.md
    - Shopping:
          - Options for Buying Products: shopping/products-purchase-options.md
          - Search Options: shopping/searching-for-products.md
          - Back-in-Stock Notifications: shopping/back-in-stock-notifications.md 
          - Bulk Orders: shopping/bulk-orders.md
          - Compare Products: shopping/compare-products.md
          - Product Lists: shopping/lists.md
          - Notifications: shopping/notifications.md
          - Checkout: shopping/checkout-process.md

