
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <link rel="canonical" href="https://docs.virtocommerce.org/platform/developer-guide/stable15/custom-apps-development/vc-shell/components/media/vc-image/">
    <script>var anchor=window.location.hash.substr(1);location.href="https://docs.virtocommerce.org/platform/developer-guide/stable15/custom-apps-development/vc-shell/components/media/vc-image/"+(anchor?"#"+anchor:"")</script>
    <meta http-equiv="refresh" content="0; url=https://docs.virtocommerce.org/platform/developer-guide/stable15/custom-apps-development/vc-shell/components/media/vc-image/">
</head>
<body>
You're being redirected to a <a href="https://docs.virtocommerce.org/platform/developer-guide/stable15/custom-apps-development/vc-shell/components/media/vc-image/">new destination</a>.
</body>
</html>
