@import "main/_layout/_header.css";
@import "main/_layout/_search.css";
@import "main/_layout/_source-file.css";
@import "main/_layout/_sidebar.css";
@import "main/_layout/_footer.css";
@import "main/_layout/_admonitions.css";
@import "main/_layout/_big-card.css";
@import "main/_layout/_wide-card.css";
@import "main/_layout/_card.css";
@import "main/_layout/_home.css";
@import "main/_layout/_nav.css";
@import "main/_layout/_source.css";
@import "main/_icons.css";
@import "main/_typeset.css";
@import "main/_colors.css";
@import "palette/_scheme.css";
@import "../fonts/Inter/index.css";
@import "../fonts/CircularStd/index.css";

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 12px;
}

* {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.md-grid {
    max-width: 54.6rem;
}
