.zebra-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.zebra-table td {
    padding: 8px;
    border: 1px solid #ddd;
    border: none;
}

.zebra-table tr:nth-child(odd) {
    background-color: #F6F6F6;
    border: none;
}

.zebra-table td:nth-last-child(-n + 2) {
    width: 160px;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
}

.zebra-table__title {
    font-family: "Circular Std", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 200%;
    text-align: left;
    margin: 0 0 20px;
    padding: 0;
}

.zebra-table__link {
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-weight: 450;
    line-height: 140%;
    text-align: left;
    color: #4051B5;
}

.zebra-table__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.zebra-table__type, .zebra-table__date {
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-weight: 450;
    line-height: 110%;
    color: #515151;
}

@media screen and (max-width: 680px) {
    .zebra-table td:nth-last-child(-n + 2) {
        width: max-content;
    }
}
