:root > * {
    --header-footer-primary-color: #212121;
    --md-primary-bg-color: #FFFFFF;
    --header-button-primary-color: rgba(237, 237, 237, 0.2);
    --header-button-primary-border-color: rgba(211, 211, 211, 0.2);
    --header-title-primary-color: #ffffff;
    --palette-button-nav: rgba(204, 204, 204, 0.24);
    --text-color: #000000;
    --md-default-fg-color--light: var(--text-color);
    --md-source-primary-color: #A7A7A7;
    --md-typeset-a-color: #3390FF;
    --sidebar-hover-color: #F4F4F4;
    --sidebar-text-color: #7A7A7A;
    --scrollbar-track-color: #FBFBFB;
    --scrollbar-thumb-color: #EDEDED;
    --md-typeset-table-color: #D3D3D3;
    --md-code-bg-color: #EDEDED;
    --md-code-pre-bg-color: #0F2F53;
    --md-code-hl-number-color: #D0D0D0;
    --md-code-hl-name-color: #D0D0D0;
    --md-code-hl-punctuation-color: #D0D0D0;
    --md-code-hl-comment-color: #ffffff;
    --md-code-fg-color: #383838;
    --md-code-hl-generic-color: #D0D0D0;
    --teritary-70: #3390FF;
    --teritary-99: #D6E9FF;
    --secondary-70: #F69802;
    --secondary-99: #FCE0B3;
    --success-40: #1D4B12;
    --primary-99: #FBDDDA;
    --primary-70: #EB5547;
    --primary-80: #EF776C;
    --neutral-80: #D3D3D3;
    --neutral-60: #A7A7A7;
    --neutral-95: #F4F4F4;
    --neutral-90: #EDEDED;
    --neutral-99: #FBFBFB;
    --neutral-40: #7A7A7A;
    --neutral-0: #222222;
    --table-cell: #FFF8E6;
    --table-head: #FFEFED;
    --table-head-title: var(--text-color);
    --table-text: #222222;
    --pill-color-primary: #D6E9FF;
    --pill-text-color-primary: #051322;
    --pill-hover: linear-gradient(0deg, rgba(34, 34, 34, 0.08), rgba(34, 34, 34, 0.08)), #D6E9FF;
    --card-primary-color: #FFFFFF;
    --card-border-primary-color: #D3D3D3;
    --card-text-color: #051322;
    --card-desc-color: #222222;
    --card-hover-color: radial-gradient(49.26% 56.44% at 5.63% 3.37%, rgba(255, 196, 119, 0.2) 0%, rgba(255, 248, 230, 0.2) 100%), radial-gradient(55.97% 50.25% at 105.97% 49.75%, rgba(103, 209, 255, 0.2) 0%, rgba(164, 228, 255, 0) 100%), #FFFFFF;
    --card-button-hover-color: #D6E9FF;
    --card-button-icon: #4E4E4E;
    --card-icon-holder: rgba(34, 34, 34, 0.05);
    --burger-color: #BCBDC0;
    --icon-color: #CCCCCC;
    --card-bg: #FFFCFA;
    --card-bg-color: transparent;
    --subscribe-title-color: rgba(34, 34, 34, 0.92);
    --subscribe-placeholder: rgba(34, 34, 34, 0.56);
    --subscribe-description: rgba(34, 34, 34, 0.64);
    --md-default-fg-color--lightest: var(--neutral-90);
    --admonition-info-bg: var(--neutral-99);
    --admonition-info-border: var(--neutral-60);
    --admonition-info-title: var(--neutral-0);
    --admonition-info-text: var(--text-color);

    --admonition-warning-bg: var(--secondary-99);
    --admonition-warning-border: var(--secondary-70);
    --admonition-warning-title: var(--secondary-70);
    --admonition-warning-text: var(--text-color);

    --admonition-error-bg: var(--primary-99);
    --admonition-error-border: var(--primary-70);
    --admonition-error-title: var(--primary-70);
    --admonition-error-text: var(--text-color);

    --admonition-tip-bg: #C8EBC0;
    --admonition-tip-border: #6DC956;
    --admonition-tip-title: var(--success-40);
    --admonition-tip-text: var(--text-color);

    --admonition-note-bg: var(--teritary-99);
    --admonition-note-border: var(--teritary-70);
    --admonition-note-title: var(--teritary-70);
    --admonition-note-text: var(--text-color);

    --admonition-github-bg: rgba(34, 34, 34, 0.05);
    --admonition-github-border: rgba(34, 34, 34, 0.2);
    --admonition-github-title: rgba(34, 34, 34, 0.64);
    --admonition-github-text: var(--text-color);
    --admonition-github-icon: rgba(34, 34, 34, 0.92);

    --admonition-blue-highlight-bg: #ADD3FF;
    --admonition-blue-highlight-text: var(--text-color);

    --admonition-yellow-highlight-bg: #FBD69A;
    --admonition-yellow-highlight-text: var(--text-color);
}
