<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../../../../../1.0/custom-apps-development/vc-shell/Essentials/shared/components/dashboard-widget-card/" />
  </noscript>
  <script>
    window.location.replace(
      "../../../../../../../1.0/custom-apps-development/vc-shell/Essentials/shared/components/dashboard-widget-card/" + window.location.search + window.location.hash
    );
  </script>
</head>
<body>
  Redirecting to <a href="../../../../../../../1.0/custom-apps-development/vc-shell/Essentials/shared/components/dashboard-widget-card/">../../../../../../../1.0/custom-apps-development/vc-shell/Essentials/shared/components/dashboard-widget-card/</a>...
</body>
</html>
