.wide-card {
    padding: 24px;
    background: var(--card-primary-color);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex: 1 1 auto;
    align-items: center;
}

.wide-card:hover {
    background: var(--card-hover-color);
}

.wide-card__icon {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.wide-card__icon[src$="#only-dark"] {
    display: none;
}

.wide-card__wrapper {
    margin-left: 24px;
}

.wide-card__header {
    display: flex;
    flex-direction: row;
}

.wide-card__img-wrap {
    border-radius: 8px;
    padding: 13px;
    background-color: var(--card-bg);
}

.wide-card__title {
    font-family: 'Circular Std', sans-serif;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: var(--card-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 0 0 8px;
}

.wide-card__content p {
    font-family: 'Circular Std Book', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--card-desc-color);
    margin: 0;
}

@media  screen and (max-width: 960px) {
    .wide-card {
        padding: 16px;
    }

    .wide-card__wrapper {
        margin-left: 16px;
    }
}
@media  screen and (max-width: 1024px) {
    .wide-card__title {
        font-size: 18px;
        line-height: 150%;
    }

    .wide-card__content p {
        font-size: 15px;
        line-height: 130%;
    }
}

@media  screen and (max-width: 960px) {
    .wide-card {
        padding: 16px;
    }

    .wide-card__wrapper {
        margin-left: 16px;
    }

    .wide-card__title {
        font-size: 17px;
    }
}

@media  screen and (max-width: 720px) {
    .wide-card__content p {
        font-size: 14px;
        line-height: 18px;
    }
}

@media  screen and (max-width: 428px) {
    .wide-card__title {
        font-size: 15px;
    }

    .wide-card__content p {
        font-size: 12px;
        line-height: 15px;
    }

    .wide-card__icon {
        width: 63px;
        height: 63px;
    }
}

@media  screen and (max-width: 320px) {
    .wide-card__title {
        font-size: 14px;
    }

    .wide-card__content p {
        font-size: 12px;
        line-height: 130%;
    }

    .wide-card__icon {
        width: 57px;
        height: 57px;
    }
}
