.big-card {
    padding: 24px;
    background: var(--card-primary-color);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.big-card:hover {
    background: var(--card-hover-color);
}

.big-card__header {
    display: flex;
    flex-direction: row;
}

.big-card__icon {
    height: 0.542rem;
    width: min-content;
}

.big-card__title {
    font-family: 'Circular Std', sans-serif;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: var(--card-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 0;
}

.big-card__title-icon {
    display: flex;
    align-items: center;
}

.big-card__title-icon svg {
    width: 26px;
    height: 26px;
}

.big-card__title-icon svg path {
    stroke: var(--card-desc-color);
}

.big-card__content p {
    font-family: 'Circular Std Book', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--card-desc-color);
    margin: 24px 0 0;
}

.big-card__button {
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--card-text-color);
}

.big-card__button-icon svg {
    width: 20px;
    height: 20px;
}

.big-card__button-icon svg path {
    fill: var(--card-button-icon);
}

.big-card__button:hover {
    background: var(--card-button-hover-color);
    color: var(--pill-text-color-primary);
}

@media screen and (max-width: 46.875em) {
    .big-card {
        flex: 1 1 auto;
    }
}

@media  screen and (max-width: 1024px) {
    .big-card__title {
        font-size: 18px;
        line-height: 150%;
    }

    .big-card__content p {
        font-size: 15px;
        line-height: 130%;
    }
}

@media  screen and (max-width: 960px) {
    .big-card {
        padding: 16px;
    }

    .big-card__content p {
        margin: 16px 0 0;
    }

    .big-card__title {
        font-size: 17px;
    }
}

@media  screen and (max-width: 720px) {
    .big-card__content p {
        font-size: 14px;
        line-height: 18px;
    }
}

@media  screen and (max-width: 428px) {
    .big-card__title {
        font-size: 15px;
    }

    .big-card__content p {
        font-size: 12px;
        line-height: 15px;
    }
}

@media  screen and (max-width: 320px) {
    .big-card__title {
        font-size: 14px;
    }

    .big-card__content p {
        font-size: 12px;
        line-height: 130%;
    }
}

