.doc-card {
    background: var(--card-primary-color);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
}

.doc-card:hover {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.12);
}

.doc-card:hover .doc-card__icon-wrap {
    background: var(--card-hover-color);
}

.doc-card__header {
    display: flex;
    flex-direction: row;
}

.doc-card__wrapper {
    padding: 16px;
    overflow: hidden;
}

.doc-card__nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.doc-card__content-item {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #4051B5;
    width: max-content;
}

.doc-card__content-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.doc-card__title {
    font-family: 'Circular Std Book', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 110%;
    color: var(--card-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 0 0 8px;
}

.doc-card__icon svg {
    height: 250px;
    width: 100%;
}

.doc-card__content p {
    font-family: 'Circular Std Book', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--card-desc-color);
    margin: 0;
}


.doc-card__icon {
    height: 254px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--card-bg-color);
    flex-shrink: 0;
}

.doc-card__icon[src$="#only-dark"] {
    display: none;
}

@media  screen and (max-width: 960px) {
    .doc-card__wrapper {
        padding: 20px;
    }

    .doc-card__title {
        font-size: 18px;
        line-height: 150%;
    }

    .doc-card__content p {
        font-size: 13px;
        line-height: 140%;
    }
}

@media  screen and (max-width: 720px) {
    .doc-card {
        flex-direction: row;
        flex: 1 1 auto;
    }

    .doc-card__icon {
        min-height: 91px;
        height: 100%;
        width: 136px;
    }

    .doc-card__wrapper {
        padding: 23px 20px;
    }

    .doc-card__content-item {
        width: auto;
    }
}

@media  screen and (max-width: 428px) {
    .doc-card__title {
        margin: 0;
        font-size: 15px;
    }

    .doc-card__icon {
        height: 150px;
        width: 100%;
    }

    .doc-card__wrapper {
        padding: 16px;
        flex-direction: column;
    }

    .doc-card__content p {
        display: none;
    }

    .doc-card__wrapper {
        display: flex;
    }

    .doc-card {
        flex-direction: column;
    }
}
