.md-search__inner {
    overflow: hidden;
    top: 0;
    width: 0;
}

[data-md-toggle=search]:checked~.md-header .md-search__inner {
    overflow: visible;
}

[data-md-toggle=search]:checked~.md-header .md-header__button[for=__search],
[data-md-toggle=search]:checked~.md-header .md-header__button[data-md-component=palette],
[data-md-toggle=search]:checked~.md-header .md-tabs {
    max-width: 0;
    opacity: 0;
    transition: max-width 0ms,opacity 0ms;
}

@media screen and (min-width: 60em) {
    .md-search__overlay {
        background-color: transparent;
    }
}

@media screen and (max-width: 59.9375em) {
    .md-search__icon[for=__search] svg:first-child {
        display: inline-block;
    }
}

@media screen and (max-width: 59.9375em) {
    [dir=ltr] .md-search__input {
        padding-left: 2.2rem !important;
        padding-right: 2.2rem !important;
    }
}

[dir=ltr] .md-search__input {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.md-search__input {
    border: 1px solid var(--neutral-80);
    border-radius: 4px;
}

.md-search__input::placeholder {
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #7A7A7A;
}
