INHERIT: ../mkdocs.yml
theme:
    custom_dir: ../../overrides
    hide: false

# Project information
extra_site_name: Frontend Dev Docs
site_name: storefront/developer-guide
site_description: Build and personalize your online store for engaging shopping experiences
site_url: https://docs.virtocommerce.org/storefront/developer-guide


# Repository
repo_name: VirtoCommerce/vc-platform
repo_url: https://github.com/VirtoCommerce/vc-platform
edit_uri: edit/dev/docs/


# Page tree
nav:
    - Overview: index.md
    - Architecture:
        - Frontend Application Architecture: architecture.md
        - Modules Architecture: modules-architecture/modules-architecture.md 
        - SPA Architecture for SEO and 404 Handling: spa-architecture-for-seo-and-404-handling.md
    - Deployment: deployment.md
    - Update: update.md
    - Frontend Customization:
        - Overview: customization/overview.md
        - Visual Theme Customization: customization/visual-theme-customization.md
        - Functionality Customization: customization/functionality-customization.md
        - Texts Customization: customization/texts-customization.md
    - Migration to Storefrontless Architecture: 
        - Overview: migration.md
        - Migration on Azure Cloud: migration-on-azure.md
        - Migration on Local Machine: migration-on-local-machine.md
    - Authentication: 
        - Token-based Authentication: authentication/authentication-types.md
        - Anonymous Authentication: authentication/anonymous-authentication.md
        - Adding Azure AD (Entra ID) as SSO Provider: authentication/adding-sso-provider.md
        - Adding Google as SSO Provider: authentication/adding-google-as-sso-provider.md
    - Integrations:
          - Google Analytics Events: integrations/google-analytics/ga-events.md
          - Enhancing SEO with Prerender.io: integrations/prerender_io.md
          - Builder.io: integrations/builder-io/overview.md
          - Storyblok:
              - Overview: integrations/storyblok/overview.md
              - Catalog Menu Integration: integrations/storyblok/catalog-menu-integration.md
              - Category Page Integration: integrations/storyblok/category-page-integration.md
              - Footer Integration: integrations/storyblok/footer-integration.md
              - Index Page Integration: integrations/storyblok/index-page-integration.md
              - Registering Custom Components: integrations/storyblok/registering-custom-components.md
