.md-search__form {
    background-color: var(--search-bg-color);
    border-radius: 6px;
    border: 1px solid var(--search-border-color);
}

.md-search__input::placeholder {
    color: var(--search-placeholder-color);
    font-family: "CircularStd", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

[dir="ltr"] .md-search__icon[for="__search"] {
    right: 0.5rem;
    left: auto;
}

.md-search {
    margin-right: 5rem;
}

.md-search__options {
    right: 1.8rem !important;
}

@media screen and (max-width: 59.984375em) {
    [dir="ltr"] .md-search__options {
        right: 1.8rem !important;
    }
}

@media screen and (min-width: 60em) {
    .md-search__input + .md-search__icon {
        color: var(--search-icon-color);
    }

    [dir="ltr"] .md-search__input {
        padding-left: 12px;
    }

    .md-search__inner {
        width: 28rem;
    }
}

@media screen and (max-width: 1420px) {
    .md-search__inner {
        width: 22rem;
    }
}

@media screen and (max-width: 1265px) {
    .md-search__inner {
        width: 15rem;
    }

    .md-search {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 1050px) {
    [dir="ltr"] .md-search__overlay {
        left: -2.2rem;
    }

    [dir="rtl"] .md-search__overlay {
        right: -2.2rem;
    }

    .md-search__overlay {
        background-color: var(--md-default-bg-color);
        border-radius: 1rem;
        height: 2rem;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: -1rem;
        transform-origin: center;
        transition: transform 0.3s 0.1s, opacity 0.2s 0.2s;
        width: 2rem;
    }

    [data-md-toggle="search"]:checked ~ .md-header .md-search__overlay {
        opacity: 1;
        transition: transform 0.4s, opacity 0.1s;
    }
}

@media screen and (max-width: 1050px) {
    [dir="ltr"] .md-search__inner {
        left: 0;
    }

    [dir="rtl"] .md-search__inner {
        right: 0;
    }

    .md-search__inner {
        height: 0;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        transform: translateX(5%);
        transition: width 0ms 0.3s, height 0ms 0.3s,
            transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s,
            opacity 0.15s 0.15s;
        width: 0;
        z-index: 2;
    }

    [dir="rtl"] .md-search__inner {
        transform: translateX(-5%);
    }

    [data-md-toggle="search"]:checked ~ .md-header .md-search__inner {
        height: 100%;
        opacity: 1;
        transform: translateX(0);
        transition: width 0ms 0ms, height 0ms 0ms,
            transform 0.15s cubic-bezier(0.1, 0.7, 0.1, 1) 0.15s,
            opacity 0.15s 0.15s;
        width: 100%;
    }

    .md-header__button[for="__search"] {
        display: block !important;
    }
}

@media screen and (min-width: 60em) {
    [dir="ltr"] .md-search__suggest {
        padding-left: 12px;
    }
}
